<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headfiles" ></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments :: sidebar"> </div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments :: navbar"> </div>
				<!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
 
                     <!-- Content Row -->
                    <div class="row" th:each="total : ${totalRevenues}">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Revenue Allot (<span th:text="${total.fyDate}"></span>)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Cr. <span th:text="${total.totalRevAllot}"></span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-3" style="font-weight: bold">
                                                Total Revenue Expdr (<span th:text="${total.fyDate}"></span>)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Cr. <span th:text="${total.totalRevExpdr}"></span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Capital Allot (<span th:text="${total.fyDate}"></span>)
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Cr. <span th:text="${total.totalCapAllot}"></span></div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Total Capital Expdr (<span th:text="${total.fyDate}"></span>)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Cr. <span th:text="${total.totalCapExpdr}"></span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Content Row -->
                    <div class="row">
						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-warning text-uppercase mb-1">
												Total Deputation</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												<span th:text="${totalDeputation}"></span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-users fa-2x text-primary-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">						
						<div class="col-12">
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">DPR Status Contractor</h6>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Project</th>													
													<th>Road Name</th>
													<th>Agency</th>
													<th>From</th>
													<th>To</th>
													<th>Package</th>
													<th>Cost</th> 
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="obj : ${contractorDprStatus}">
													<td th:text="${obj.projName}"></td>													
													<td th:text="${obj.roadName}"></td>
													<td th:text="${obj.agency}"></td>
													<td th:text="${obj.amtFrom}"></td>
													<td th:text="${obj.amtTo}"></td>													
													<td th:text="${obj.pkg}"></td>
													<td th:text="${obj.cost}"></td>
													<td th:text="${obj.statusCivilWork}"></td>
													
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div> 
					</div>
					<div class="row">
						<div class="col-12">
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">USER DETAILS</h6>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable1"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Email</th>
													<th>Username</th>
													<th>Roles</th> 
												</tr>
											</thead>
											<tbody>
												<tr th:each="user : ${users}">
													<td th:text="${user.firstName}"></td>
													<td th:text="${user.lastName}"></td>
													<td th:text="${user.email}"></td>
													<td th:text="${user.username}"></td>
													<td>
														<li th:each="role : ${user.roles}"><span
															th:text="${role.name}"></span></li>
													</td> 
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
			<div th:replace="fragments :: footer"> </div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->
 
	<!-- Logout Modal-->
	<div th:replace="fragments :: logout"> </div> 
	 
</body>
</html>