<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headfiles" ></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments :: sidebar"> </div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments :: navbar"> </div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-warning text-uppercase mb-1">
												Total Deputation</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">
												<span th:text="${totalDeputation}"></span>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-users fa-2x text-primary-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Details of
										GREF Personal Deputation</h6>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable1"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Trades</th>
													<th>No of Person on Deputation</th>
													<th>Remark</th>
													<th>Deputation Date</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="dept : ${deputations}">
													<td th:text="${dept.trade}"></td>
													<td th:text="${dept.nosOfPersOnDeputation}"
														style="text-align: center;"></td>
													<td th:text="${dept.remark}"></td>
													<td th:text="${dept.deputationDate}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
			<div th:replace="fragments :: footer"> </div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper --> 
	
	<!-- Logout Modal-->
	<div th:replace="fragments :: logout"> </div> 
	 
</body>

</html>