<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headfiles" ></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments :: sidebar"> </div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments :: navbar"> </div>
				<!-- End of Topbar -->


				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						
						<div class="col-12" >
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Likely Achievement All</h6>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Project</th> 
													<th>ItemOfWork </th>													
													<th>TotalTgtBe</th>
													<th>TotalTgtBeYear</th>
													<th>RevisedAwpTGT</th>
													<th>RevisedAwpTgtYear</th>
													<th>Achievement</th>
													<th>UptoDate</th>
													<th>TotalAchievable Upto Month</th> 
													<th>TotalAchievable Upto Year</th> 
													 
												</tr>
											</thead>
											<tbody>
												<tr th:each="obj : ${likelyAchievements}" style="text-align: center;">  
														<td th:text="${obj.projName}"></td> 
														<td th:text="${obj.itemOfWork}"></td>													
														<td th:text="${obj.totalTgtBe}"></td>
														<td th:text="${obj.totalTgtBeYear}"></td>
														<td th:text="${obj.revisedAwpTgt}"></td>
														<td th:text="${#dates.format(obj.revisedAwpTgtYear, 'yyyy-MM-dd')}"></td> 
														<td th:text="${obj.achievement}"></td>	
														<td th:text="${#dates.format(obj.uptoDate, 'dd-MMM-yyyy') }" style="width: 150px;"></td> 													
														<td th:text="${obj.totalAchievableUptoMonth}"></td> 
														<td th:text="${#dates.format(obj.totalAchievableUptoYear, 'yyyy-MM-dd')}"></td> 
														
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="fragments :: footer"> </div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper --> 
	
	<!-- Logout Modal-->
	<div th:replace="fragments :: logout"> </div> 
	 
</body>
</html>