<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headfiles" ></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments :: sidebar"> </div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments :: navbar"> </div>
				<!-- End of Topbar -->


				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						
						<div class="col-8">
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">ROLES LIST</h6>
									<div class="text-right" style="margin-top: -20px; margin-right: 30px;">
									<a href="/role/add" class="btn btn-outline-warning">Add Role</a> &nbsp;
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="roleDataTable"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Role Name</th>
													<th>Role Description</th>
													<th>Permissions</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="role : ${roles}">
													<td th:text="${role.name}"></td>
													<td th:text="${role.roleDesc}"></td>
													<td>
														<li th:each="per : ${role.permissions}">
															<span th:text="${per.name}"></span>
														</li>
													</td> 
													<td style="text-align: center;">
														<a th:href="@{'/role?id='+${role.id}+'&action=edit'}"><i class="fas fa-edit fa-sm" style="color: primary;"></i></a> 
															<a th:href="@{'/role?id='+${role.id}+'&action=delete'}"><i class="fas fa-trash fa-sm" style="color: red;"></i></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">ADD NEW ROLE</h6>
								</div>
								<div class="card-body"> 
									<form th:action="@{/role}" th:object="${role}" class="was-validated" method="post"> 
										<p class="alert alert-danger"
											th:if="${#fields.hasGlobalErrors()}"
											th:each="error : ${#fields.errors('global')}"
											th:text="${error}">Validation error
										</p>
										<p th:if="${param.success}" class="alert alert-info">Role
											successfully added!
										</p>
										<p th:if="${param.deleted}" class="alert alert-info">Role
											successfully deleted!
										</p>
										<div class="form-row">
											<div class="form-group col-md-12" >
												<label for="name" class="control-label">Role Name
												</label> 
												<span>
												<input type="hidden" th:field="*{id}">
												</span>
												<input id="name" class="form-control"
													th:field="*{name}" required="required" />
												<p class="invalid-feedback" th:each="error: ${#fields.errors('name')}"
													th:text="${error}">Enter permission name</p>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-md-12" >
												<label for="roleDesc" class="control-label">Role Description</label> <input id="roleDesc" class="form-control"
													th:field="*{roleDesc}" required="required" />
												<p class="invalid-feedback"
													th:each="error : ${#fields.errors('roleDesc')}"
													th:text="${error}">Enter description</p>
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-md-12"
												th:classappend="${#fields.hasErrors('permissions')}? 'has-error':''">
												<label for="permissions" class="control-label">Permissions</label> 
												<select id="permissions" class="form-control" th:field="*{permissions}"
													multiple="multiple" required="required">
													<option 
														th:each="per : ${permissionsList}" 
														th:value="${per.id}" 
														th:text="${per.name}"
														
														>
													</option>
												</select>

												<p class="invalid-feedback"
													th:each="error : ${#fields.errors('permissions')}"
													th:text="${error}">Validation error</p>
											</div>
										</div>
										<div class="form-group col-md-12">
											<button type="submit" class="btn btn-success">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="fragments :: footer"> </div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper --> 
	
	<!-- Logout Modal-->
	<div th:replace="fragments :: logout"> </div> 
	 
</body>
</html>