<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headfiles" ></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments :: sidebar"> </div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments :: navbar"> </div>
				<!-- End of Topbar -->


				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="row">
						
						<div class="col-12">
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Sick Bridge</h6>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
											<thead style="background-color: #36b9cc;color: white;">
												<tr>
													<th>Project</th> 
													<th>brtf_id</th>													
													<th>rcc_bcc_dmc_id</th>
													<th>total</th>
													<th>completed</th>
													<th>balance</th>
													<th>plan_to_complete</th>
													<th>fy_year</th>
													<th>vintage_job_more_than_10</th>
													<th>vintage_job_more_than_5</th>
													<th>vintage_job_more_than_3</th>  
												</tr>
											</thead>
											<tbody>
												<tr th:each="obj : ${sickBridges}" style="text-align: center;">  
														<td th:text="${obj.projName}"></td> 
														<td th:text="${obj.brtf_id}"></td>													
														<td th:text="${obj.rcc_bcc_dmc_id}"></td>
														<td th:text="${obj.total}"></td>
														<td th:text="${obj.completed}"></td>
														<td th:text="${obj.balance}"></td>
														<td th:text="${obj.plan_to_complete}"></td>
														<td th:text="${obj.fy_year}"></td> 
														<td th:text="${obj.vintage_job_more_than_10}"></td>
														<td th:text="${obj.vintage_job_more_than_5}"></td>
														<td th:text="${obj.vintage_job_more_than_3}"></td> 														 
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="fragments :: footer"> </div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper --> 
	
	<!-- Logout Modal-->
	<div th:replace="fragments :: logout"> </div> 
	 
</body>
</html>