<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headfiles" ></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="fragments :: sidebar"> </div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="fragments :: navbar"> </div>
				<!-- End of Topbar -->


				<!-- Begin Page Content -->
				<div class="container-fluid">					
					<div class="row">
						<div class="col-12">
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Ministry wise summary ( ALLOTMENT VS EXPENDITURE )</h6>
									<div class="text-right" style="margin-top: -20px; margin-right: 30px;">
									<a href="/ministry-wise-summary?totalBy=project" class="btn btn-outline-warning">Project Wise</a> &nbsp;
									<a href="/ministry-wise-summary?totalBy=department" class="btn btn-outline-warning">Department Wise</a> &nbsp;
									<a href="/ministry-wise-summary?totalBy=fyyear" class="btn btn-outline-warning">FY Year Wise</a> &nbsp;
									<a href="/ministry-wise-summary" class="btn btn-outline-warning">All</a> &nbsp;
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable1"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Project</th>
													<th>Department</th>
													<th>Sub Department</th> 
													<th>Allotment</th>
													<th>Expenditure</th>													
													<th>FY Year</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="sumr : ${summaries}">
													<td th:text="${sumr.projName}"></td>
													<td th:text="${sumr.deptName}"></td>
													<td th:text="${sumr.subDeptName}"></td> 
													<td th:text="${sumr.allotment}"></td>
													<td th:text="${sumr.expenditure}"></td> 
													<td th:text="${sumr.fyDate}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<div th:replace="fragments :: footer"> </div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper --> 
	
	<!-- Logout Modal-->
	<div th:replace="fragments :: logout"> </div> 
	 
</body>
</html>